.CustomerInput input {
  border: none;
  border-bottom: 2px solid #bc581e;
  color: #bc581e;
  height: auto;
}
.CustomerInput label {
  font-weight: 600;
  margin-bottom: 5px;
}

.CustomerInput input:focus {
  outline: none;
  border-bottom: 3px solid;
}
